.sideBar {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color:antiquewhite;
    border-radius: 20px;
    border: black;
    border-style: solid;
    border-width: 0.2cap;
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.total {
    position: fixed;
    bottom: 50px;   
}