#root {
  /* margin: 0 auto; */
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  padding: 1rem;
  text-align: center;
}

.food-app-title {
    text-align: left;
    margin: 2vh 2vw 2vh 2vw;
}

.app-container {
    display: flex;
}