body {
  color: #273F4F;
  margin: 0;
  padding: 0;
  font-family: "Kanchenjunga", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fe78434a;
  user-select: none;
}

.contenedor {
  width: 85vw;
  height: 85vh;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.encabezado {
  font-size: 3rem;
  font-weight: 800;
  font-style: normal;
  margin-bottom: 20px;
}