.container {
	width: 100vw;
	height: 100vh;
}

.details_container {
	margin: 0 auto;
	width: 80%;
	height: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	box-sizing: border-box;
	background-color: #EFEEEA;
    border: solid 2px #fe78438f;
	border-radius: 20px;
}

.food_thumbnail {
	width: 20vw;
	margin-left: 4%;
	margin-top: 4%;
	border-radius: 12px;
	object-fit: cover;
}
