.food_table {
	width: 75%;
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: flex-start;
	overflow-y: scroll;
	margin-left: 20px;
	/* background-color: blue; */
}

::-webkit-scrollbar {
	display: none;
}